body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #cfcfcf;
}

.header {
    position: fixed; /* Fixed to top */
    z-index: 3;
    display: flex;
    justify-content: flex-start; /* Aligns items to the left */
    align-items: center;
    background-color: #333;
    padding: 2px 20px;
    color: white;
    min-height: 20px;
    width: 100%;
    gap: 10%; /* Adds space between the logo and buttons */
}

.header-spacer {
    position: static; /* Gives space for subheader at top of page */
    z-index: -1;
    display: flex;
    justify-content: flex-start; /* Aligns items to the left */
    align-items: center;
    background-color: #333;
    padding: 2px 20px;
    color: white;
    min-height: 20px;
    gap: 10%; /* Adds space between the logo and buttons */
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px; /* Adjust spacing between text and GIF */
  margin-left: 20px;
}

.header-title {
  margin: 0;
  font-size: 3em;
}

.header-gif {
  height: 80px; /* Adjust size if needed */
  width: auto;
}

.button-container {
  display: flex;
  /*gap: 120px; /* Adjust spacing between buttons */
  justify-content: space-around;
  flex: 1;
  flex-direction: row;
  width: 100vh;
}

.button {
  padding: 10px 50px;
  background-color: #79a5b4;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 150%;
}

.button1 {/* why does this even exist?*/
  padding: 10px 50px;
  background-color: #79a5b4;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 150%;
}

.button:hover {
  background-color: #495e76;
}

.button:active {
    background-color: white;
    color: #79a5b4;
}