################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bazel
/out/build
/libcef_dll
/Release
/Resources
/Debug
/tests
